<div id="fake_iPhone">
    <img style="float:left" src="/Content/images/iphone-frame.png" width="350px" />
    <div id="myCarousel" class="carousel slide" style="float:left; margin-top: -534px; margin-left:37px; width:280px">
        <div class="carousel-inner">
            <div class="active item">
                <img src="/Content/assets/as0.png" />
            </div>
            <div class="item">
                <img src="/Content/assets/as1.png" />
            </div>
            <div class="item">
                <img src="/Content/assets/as2.png" />
            </div>
            <div class="item">
                <img src="/Content/assets/as3.png" />
            </div>
            <div class="item">
                <img src="/Content/assets/as4.png" />
            </div>
        </div>
    </div>
</div>
